Import pandas

In [2]:
import pandas as pd

Connect to the sql server

In [3]:
import pyodbc

try:
    conn = pyodbc.connect('Driver={SQL Server};'
                          'Server=localhost;'
                          'Database=loopai;'
                          'Trusted_Connection=yes;')
    cursor = conn.cursor()
    print("Connected to the database successfully.")
except pyodbc.Error as ex:
    print("Error connecting to the database:", ex)

Connected to the database successfully.

Load the Menu hours csv file

In [14]:
data = pd.read_csv (r'G:\datadump\CSV\Menu hours.csv')
df = pd.DataFrame(data)

print(df.head)

Connected to the database successfully.

Create the business_hours table

In [4]:
cursor.execute('''
		CREATE TABLE business_hours (
			id BIGINT PRIMARY KEY IDENTITY(1,1),
			store_id BIGINT NOT NULL,
            day INT,
            start_time_local TIME,
            end_time_local TIME,
			)
               ''')

Insert data into business_hours table

In [5]:
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO business_hours (store_id, day, start_time_local, end_time_local)
                VALUES (?,?,?,?)
                ''',
                row.store_id, 
                row.day,
                row.start_time_local,
                row.end_time_local
                )
conn.commit()

Load the store status csv file

In [4]:
data = pd.read_csv (r'G:\datadump\CSV\store status.csv')
df = pd.DataFrame(data)

print(df.head)

<bound method NDFrame.head of                     store_id    status                   timestamp_utc
0        8419537941919820732    active  2023-01-22 12:09:39.388884 UTC
1          54515546588432327    active  2023-01-24 09:06:42.605777 UTC
2        8377465688456570187    active  2023-01-24 09:07:26.441407 UTC
3        5955337179846162144    active  2023-01-24 09:08:07.634899 UTC
4        1169347689335808384    active  2023-01-24 09:08:18.436854 UTC
...                      ...       ...                             ...
1822075  9103029069217106077  inactive  2023-01-20 09:02:21.705125 UTC
1822076  5532343280896549215  inactive  2023-01-21 02:03:58.311087 UTC
1822077  3794430814933142786  inactive  2023-01-21 04:04:20.916254 UTC
1822078  4192592653801050907  inactive  2023-01-21 15:11:50.902575 UTC
1822079  3846497499881872792  inactive  2023-01-21 08:04:26.177456 UTC

[1822080 rows x 3 columns]>

Create the store_status table

In [13]:
cursor.execute('''
		CREATE TABLE store_status (
			id BIGINT PRIMARY KEY IDENTITY(1,1),
			store_id BIGINT NOT NULL,
            status NVARCHAR(MAX),
            timestamp_utc DATETIMEOFFSET
			)
               ''')

Insert the data into store_status

In [14]:

for row in df.itertuples():
    cursor.execute('''
                INSERT INTO store_status (store_id, status, timestamp_utc)
                VALUES (?,?,LEFT(?, 19))
                ''',
                row.store_id, 
                row.status,
                row.timestamp_utc
                )
conn.commit()

Load the timezone csv file

In [10]:
data = pd.read_csv (r'G:\datadump\CSV\timezone.csv')
df = pd.DataFrame(data)

print(df.head)

<bound method NDFrame.head of                   store_id                  timezone_str
0      8139926242460185114                   Asia/Beirut
1      5415949628544298339                 America/Boise
2      3408529570017053440                America/Denver
3      9055649751952768824                America/Denver
4      4428372089193592098                America/Denver
...                    ...                           ...
13554  8281452819447825055  America/Indiana/Indianapolis
13555  8095410679721836114  America/Indiana/Indianapolis
13556  5588208013269746483  America/Indiana/Indianapolis
13557  7020170113785825189  America/Indiana/Indianapolis
13558  7869742085537243781  America/Indiana/Indianapolis

[13559 rows x 2 columns]>

Create the timezones table

In [11]:
cursor.execute('''
		CREATE TABLE timezones (
			id BIGINT PRIMARY KEY IDENTITY(1,1),
			store_id BIGINT NOT NULL,
            timezone_str NVARCHAR(MAX)
			)
               ''')

Insert data into timezones table

In [12]:
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO timezones (store_id, timezone_str)
                VALUES (?,?)
                ''',
                row.store_id, 
                row.timezone_str
                )
conn.commit()